.app-list
  display flex
  justify-content center
  flex-wrap wrap
  padding 10px 0 0 10px


.navi
  background-color #ddd
  display flex
  align-items center
  padding 10px
  flex-wrap wrap

.title
  font-size 20px
  line-height 24px
  flex 1

.select-container
  height 35px
  background-color white
  border 1px solid #e0e0e0
  border-radius 5px
  display flex
  align-items center
  position relative

  .select
    -webkit-appearance none
    border none
    background-color #ffffff
    color #616161
    font-size 15px
    height 100%
    flex 1
    padding 0 30px 0 10px

  .triangle
    position absolute
    right 10px
    top 12px
    height 10px
    width 10px
    fill #616161
    transform rotate(90deg)